<div class="d-flex vh-100">
    <!-- Barra lateral -->
    <nav id="sidebar" class="navbar-dark bg-dark sidebar">
        <div class="offcanvas-body">
            <h5 class="sidebar-heading">Bienvenido
                <p>{{ user.usuario }}</p>
            </h5>

            <ul class="navbar-nav flex-column">
                <!-- Enlace Hogar -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <i class="bi bi-house-door-fill"></i> <span class="link-text">Hogar</span>
                    </a>
                </li> 
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/graficas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <i class="bi bi-bar-chart-fill"></i> <span class="link-text">Graficas</span>
                    </a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/usuarios" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <i class="bi bi-people-fill"></i> <span class="link-text">Usuarios</span>
                    </a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/gestion-galeria" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <i class="bi bi-images"></i> <span class="link-text">Galeria de Imagenes</span>
                    </a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/gestion-eventos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <i class="bi bi-calendar-event-fill"></i> <span class="link-text">Eventos</span>
                    </a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/gestion-servicios" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <i class="bi bi-briefcase"></i> <span class="link-text">Servicios</span>
                    </a>
                </li> 
           

            </ul>
        </div>
    </nav>
  
    <!-- Contenido principal -->
    <div class="content-wrapper flex-grow-1 d-flex align-items-stretch">
        <router-outlet></router-outlet>
    </div>
  </div>
  