<div class="d-flex vh-100">
    <!-- Barra lateral -->
    <nav id="sidebar" class="navbar-dark bg-dark sidebar">
        <div class="offcanvas-body">
            <h5 class="sidebar-heading">Bienvenido
                <p>{{ user.usuario }}</p>
            </h5>

            <ul class="navbar-nav flex-column">
                <!-- Enlace Hogar -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <i class="bi bi-house-door-fill"></i> <span class="link-text">Hogar</span>
                    </a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/graficas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <i class="bi bi-bar-chart-fill"></i> <span class="link-text">Graficas</span>
                    </a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/usuarios" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <i class="bi bi-people-fill"></i> <span class="link-text">Usuarios</span>
                    </a>
                </li> 
                <!-- Menú desplegable tipo acordeón -->
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#editMenu" role="button" aria-expanded="false" aria-controls="editMenu">
                        <i class="bi bi-speedometer2"></i> <span class="link-text">Panel de Edición</span>
                    </a>
                    <!-- Menú desplegable con collapse -->
                    <div class="collapse" id="editMenu">
                        <ul class="list-unstyled">
                         
                    
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/admin/gestion-galeria" (click)="closeMenu()">Editar Galería</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/admin/gestion_servicios" (click)="closeMenu()">Editar Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/admin/gestion-eventos" (click)="closeMenu()">Editar Eventos</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- Otros enlaces -->
            </ul>
        </div>
    </nav>
  
    <!-- Contenido principal -->
    <div class="content-wrapper flex-grow-1 d-flex align-items-stretch">
        <router-outlet></router-outlet>
    </div>
  </div>
  