
<div class="container my-5">
    <div class="row align-items-center">
      <div class="container">
        <section class="section">
          <div class="section-content">
            <img src="https://scontent.fcpe1-1.fna.fbcdn.net/v/t39.30808-6/472945293_1171547804980660_5931227145051142812_n.png?_nc_cat=100&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeH4-oaiDm158EObCue7U3JQLCZN3zFfdjcsJk3fMV92Nza0rr8lxMQ_0hhbCOY9D3AXjq07bh7McrWfXwuIYrGQ&_nc_ohc=wOYdbip4yIQQ7kNvgHO0bAQ&_nc_zt=23&_nc_ht=scontent.fcpe1-1.fna&_nc_gid=AM-RFynKG4PA0FsOZSivf7-&oh=00_AYDHDe2nKUahkrf7H5JfJXheWJHVjRmrkHvbTON-kJ7WWQ&oe=67855434" alt="Imagen representativa" class="section-image">
            <div class="text-content">
              <h2>Misión</h2>
              <p>
                Crear experiencias inolvidables y transformar cada evento en una celebración única, que refleje la personalidad y estilo de nuestros clientes.
              </p>
            </div>
          </div>
        </section>
    
        <section class="section">
          <div class="section-content reverse">
            <div class="text-content">
              <h2>Nuestra Historia</h2>
              <p>
                Hace seis años, "Decora A&M" nació de una decisión valiente y un deseo de independencia. Con pasión y dedicación, nos hemos convertido en expertos en la decoración de bodas y XV años, enfocándonos en los pequeños detalles que hacen que cada evento sea especial.
              </p>
            </div>
            <img src="https://scontent.fcpe1-1.fna.fbcdn.net/v/t39.30808-6/472172278_1167524465382994_8965384037392731881_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeGw5RWzSeRfhp4Wm2FHs7s4YiKXL1QUXDliIpcvVBRcOS90hXZ7snUVTK3zRvTnfbYeBtw6Xz6EGBSDGtsn3WKA&_nc_ohc=jvnclJERzI8Q7kNvgHxBGrq&_nc_zt=23&_nc_ht=scontent.fcpe1-1.fna&_nc_gid=AdfyUPeREwWdrj5KddYsgGg&oh=00_AYBKSvmhtoZ6qC0NjjwAi4jc8q0rOpsOS-3rTPyYBYcJtw&oe=678550A8"
             alt="Nuestra Historia" class="section-image">
          </div>
        </section>
      </div>