<!-- Barra de navegación fija que se ubica debajo del banner -->
<nav class="navbar navbar-expand-lg navbar-light navbar-custom sticky-top">
  <div class="container-fluid">

    <a class="navbar-brand white-text" routerLink="/">Decora A&M</a>

    <!-- Botón de hamburguesa -->
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" [attr.aria-expanded]="!isNavbarCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú colapsable -->
    <div class="collapse navbar-collapse" [ngClass]="{'show': !isNavbarCollapsed}" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cliente/inicio" (click)="closeNavbar()">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cliente/servicios" (click)="closeNavbar()">Servicios</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="/cliente/nuestra-historia" (click)="closeNavbar()">Nuestra historia</a>
        </li>
        
        <!-- Botón de servicios pedidos solo si hay un usuario registrado -->
        <li class="nav-item" *ngIf="user">
          <button class="btn btn-outline-light btn-servicios-pedidos" (click)="mostrarServiciosPedidos()">
            Servicios Pedidos
          </button>
        </li>
        
        <li class="nav-item">
          <button class="btn btn-link" (click)="openModal('login')">
            <i class="fas fa-user d-none d-lg-inline"></i> 
            <span class="d-lg-none">Inicio de sesión</span> 
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>  

<!-- Modal de Servicios Pedidos -->
<div class="modal fade" id="serviciosPedidosModal" tabindex="-1" aria-labelledby="serviciosPedidosModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="serviciosPedidosModalLabel">Servicios Pedidos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="serviciosPedidos.length > 0; else noServicios">
          <ul class="list-group">
            <li *ngFor="let servicio of serviciosPedidos" class="list-group-item d-flex justify-content-between align-items-center">
              {{ servicio.nombre }} - <span [ngClass]="{'activo': servicio.estado === 'activo', 'cancelado': servicio.estado === 'cancelado', 'por-confirmar': servicio.estado === 'por confirmar'}">{{ servicio.estado }}</span>
              <button *ngIf="servicio.estado === 'activo' || servicio.estado === 'por confirmar'" class="btn btn-danger btn-sm" (click)="cancelarServicio(servicio)">Cancelar</button>
            </li>
          </ul>
        </div>
        <ng-template #noServicios>
          <p>No hay servicios pedidos.</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
