table {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn i {
  font-size: 1rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.btn-sm {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .page-link {
  color: #b41e46;
}

.pagination .page-item.active .page-link {
  background-color: #b41e46;
  border-color: #b41e46;
  color: white;
}
