table {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn i {
  font-size: 1rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.pagination .page-link {
  color: #2F2F2F;
}

.pagination .page-item.active .page-link {
  background-color: #2F2F2F;
  border-color: #2F2F2F;
  color: white;
}
.custom-add-btn {
  background-color: #D4AF37;
  color: white;
  border: none;
}

.custom-add-btn:hover {
  background-color: #E8DCC3;
}

.custom-delete-btn {
  background-color: #0C0C0C;
  color: white;
}

.custom-delete-btn:hover {
  background-color: #2F2F2F;
}

.custom-close-btn {
  background-color: #17a2b8;
  color: white;
}

.custom-close-btn:hover {
  background-color: #138496;
}

.custom-update-btn {
  background-color: #ffc107;
  color: black;
}

.custom-update-btn:hover {
  background-color: #e0a800;
}