table {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn i {
  font-size: 1rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.input-group .form-control {
  border-radius: 5px 0 0 5px; /* Bordes redondeados solo para el input */
}

.input-group .btn {
  border-radius: 0 5px 5px 0; /* Bordes redondeados solo para el botón */
}

.input-group .btn:hover {
  background-color: #D4AF37; /* Cambia el color al pasar el mouse */
}
.modal-header{
  background-color: #1c1c1c;
  color: #012a68d2;
}
.btn-sm {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .page-link {
  color: #000000;
}

.pagination .page-item.active .page-link {
  background-color: #D4AF37;
  border-color: #D4AF37;
  color: white;
}
/* Botón de bloqueo/desbloqueo */
.btn-bloqueado {
  background-color: #0C0C0C;
  color: white;
  border: none;
}

.btn-activo {
  background-color: #D4AF37;
  color: black;
  border: none;
}

/* Badge de estado */
.bg-bloqueado {
  background-color: #0C0C0C !important;
  color: white !important;
}

.bg-activo {
  background-color: #D4AF37 !important;
  color: black !important;
}

/* Otros botones */
.custom-view-btn {
  background-color: #e0e0e0;
  color: black;
}

.custom-toggle-btn {
  border-radius: 5px;
}
.custom-search-btn {
  background-color: #D4AF37;
  color: black; /* Texto en negro para contraste */
  border: none;
  transition: background-color 0.3s ease; /* Suaviza la transición al hover */
}

.custom-search-btn:hover {
  background-color: #E8DCC3;
  color: black;
}
