<div class="calendar-container">
    <h1>Gestión de Eventos</h1>
    <p>Selecciona un día para ver los eventos agendados
    </p>
    <div class="calendar-legend mt-3">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
          <div class="legend-color bg-warning me-2"></div>
          <span>Eventos pendientes</span>
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <div class="legend-color bg-success me-2"></div>
          <span>Eventos aceptados</span>
        </div>
      </div>
    </div>
    <div class="calendar">
      <app-calendario></app-calendario>
    </div>
   
  </div>
  