<div class="estado-eventos-container">
    <div class="header">
     
      <div class="calendario-miniatura">
        <app-calendario></app-calendario>
      </div>
    </div>
  
    <div class="filtro">
      <h3>Filtrado por evento</h3>
    </div>
  
    <div class="panel-estados">
      <!-- Columna Por Confirmar -->
      <div class="estado por-confirmar">
        <h4>Por Confirmar</h4>
        <div class="contenedor-eventos">
          <div class="evento">
            <p>Evento XV</p>
            <button class="detalles">Detalles</button>
          </div>
          <!-- Más eventos -->
        </div>
      </div>
  
      <!-- Columna Activos -->
      <div class="estado activos">
        <h4>Activos</h4>
        <div class="contenedor-eventos">
          <div class="evento">
            <p>Evento Boda</p>
            <button class="detalles">Detalles</button>
          </div>
          <!-- Más eventos -->
        </div>
      </div>
  
      <!-- Columna Cancelados -->
      <div class="estado cancelados">
        <h4>Cancelados</h4>
        <div class="contenedor-eventos">
          <div class="evento">
            <p>Evento Corporativo</p>
            <button class="detalles">Detalles</button>
          </div>
          <!-- Más eventos -->
        </div>
      </div>
    </div>
  </div>
  