<div class="main-content">
    <h2>Decora A&M</h2>
    <p class="welcome-text">Bienvenido Administrador!</p>
    <div class="dashboard-cards">
      <!-- Tarjeta de eventos próximos -->
      <div class="card">
        <h3>Eventos próximos</h3>
        <div class="card-content">
          <!-- Contenido de eventos próximos -->
        </div>
      </div>

      <!-- Tarjeta de notas -->
      <div class="card">
        <h3>Notas</h3>
        <div class="card-content">
          <div class="notes-container">
            <div class="note">
              <p>Ver cosas en el almacén</p>
              <div class="note-actions">
                <button class="btn delete-btn">🗑️</button>
                <button class="btn edit-btn">✏️</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="add-note-btn">Agregar Nota</button>
        </div>
      </div>
    </div>
  </div>
