<div class="container">
    <h1>Nuestros Servicios</h1>
    <div class="services" *ngIf="services.length > 0">
        <div class="service-item" *ngFor="let service of services" (click)="openModal(service)">
            <div class="service-icon">{{ service.icon }}</div>
            <div class="service-title">{{ service.title }}</div>
            <div class="service-description">{{ service.description }}</div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" [ngClass]="{'show': activeModal !== null}" (click)="closeModal($event)">
        <div class="modal-content" (click)="stopPropagation($event)">
            <span class="close-btn" (click)="closeModal()">&times;</span>
            <h2>{{ activeService?.title }}</h2>
            <!-- Aquí agregas la imagen -->
            <img [src]="activeService?.imageUrl" alt="Image" class="modal-image">
            <div class="modal-body">
                <p>{{ activeService?.info }}</p>
            </div>
        </div>
    </div>
</div>
