<div class="container">
    <h1>Nuestros Servicios</h1>

    <!-- Selección de Servicio -->
    <div class="text-center mb-4">
        <label for="service" class="form-label">Servicio:</label>
        <select id="service" name="service" class="form-select w-50 d-inline-block" [(ngModel)]="selectedService" (change)="updatePackages()">
            <option *ngFor="let service of services" [value]="service.id">{{ service.title }}</option>
        </select>
    </div>

    <!-- Paquetes disponibles -->
    <div id="packages-container" class="row g-4">
        <div *ngFor="let package of currentPackages" class="col-md-4">
            <div class="package-card">
                <h3>{{ package.name }}</h3>
                <ul>
                    <li *ngFor="let item of package.items">{{ item }}</li>
                </ul>
                <p><strong>Precio: </strong>{{ package.price }} MXN</p>
                <button class="customize-btn" (click)="selectPackage(package)">Seleccionar</button>
            </div>
        </div>
    </div>

    <!-- Personalización del Paquete -->
    <div class="customization-container" *ngIf="selectedPackage">
        <h2>Personalizar Paquete</h2>
        <div *ngFor="let extra of currentExtras">
            <input type="checkbox" [value]="extra" (change)="toggleExtra(extra)">{{ extra.name }} - {{ extra.price }} MXN
        </div>

        <!-- Precio final -->
        <p>Precio Total: <span id="total-price">{{ totalPrice }}</span> MXN</p>

        <button class="btn btn-primary quote-btn">Solicitar Cotización</button>
    </div>

    <!-- Modal para mostrar detalles del servicio -->
    <div class="modal" [ngClass]="{'show': activeModal !== null}" (click)="closeModal($event)">
        <div class="modal-content" (click)="stopPropagation($event)">
            <span class="close-btn" (click)="closeModal()">&times;</span>
            <h2>{{ activeService?.title }}</h2>
            <img [src]="activeService?.imageUrl" alt="Image" class="modal-image">
            <div class="modal-body">
                <p>{{ activeService?.info }}</p>
            </div>
        </div>
    </div>
</div>
