.card {
  border-radius: 15px;
  overflow: hidden;
}

.card-header {
  background: linear-gradient(135deg, #D4AF37, #D4AF37);
  color: white;
}

.card-body {
  background-color: #f8f9fa;
  padding: 2rem;
}

.custom-btn-position {
  margin-left: auto;
}
h3.mb-0 {
  font-size: 1.8rem;
}

.card-body {
  border-top: 5px solid #2F2F2F;
}
