<div class="container mt-4">
  <h2 class="text-center">Editor de Galería</h2>

  <div class="card-body">
    <form (ngSubmit)="addOrEditPhoto()">
      <div class="form-group mb-3">
        <label for="category">Seleccionar Categoría:</label>
        <select [(ngModel)]="selectedCategory" id="category" name="category" class="form-control" required>
          <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
        </select>
      </div>
      <div class="form-group mb-3">
        <label for="imagen">Seleccionar Imagen:</label>
        <input type="file" id="photoFile" class="form-control" (change)="onFileSelected($event)" required />
      </div>
      <div class="form-group mb-3">
        <label for="description">Descripción de la Imagen:</label>
        <input type="text" id="photoAlt" class="form-control" [(ngModel)]="newPhotoAlt" name="description" required />
      </div>
      <button type="submit" class="btn btn-primary">
        {{ editIndex !== null ? 'Guardar Cambios' : 'Agregar Foto' }}
      </button>
      <button type="button" class="btn btn-secondary ml-2" (click)="resetForm()">Cancelar</button>
    </form>
  </div>
  

  <div *ngFor="let category of categories" class="mb-4">
    <h4>{{ category.name }}</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let photo of category.photos; let i = index">
          <td>
            <img [src]="photo.imagen" [alt]="photo.descripcion" class="img-thumbnail" style="width: 100px;">
          </td>
          <td>{{ photo.imagen }}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="editPhoto(category.name, i)">Editar</button>
            <button class="btn btn-danger btn-sm ml-2" (click)="removePhoto(category.name, i)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
